* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica;
}

header {
  display: grid;
  grid-template-columns: 200px 500px 1fr;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 15px #917c6f;
  position: fixed;
  top:0;
  z-index: 100;
  background-color: white;
}
.first-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-content img {
  background-color: black;
}
.second-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-content .search-bar {
  width:100%;
  height: 30px;
  border-radius: 10px;
  border: solid 1px gray;
  padding-left: 15px;
  outline: none;
}
.search-bar:active, .search-bar:hover {
  box-shadow: 0 0 3px rgb(19, 137, 248);
}
.third-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-content a {
  font-size: 17px;
  padding: 5px 15px;
  font-weight: 600;
  color: black;
}
.services {
  background-color: rgb(240, 236, 236);
  box-shadow: 0 0 3px rgb(34, 116, 193);
  color: rgb(34, 116, 193);
}
a:hover {
  background-color: rgb(240, 236, 236);
  box-shadow: 0 0 3px rgb(34, 116, 193);
  color: rgb(34, 116, 193);
}
h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
  color: rgb(232, 224, 224);
  font-weight: bold;
}

section {
  margin-top:60px;
  width:100%;
  height: 800px;
  background-color: #3B608D;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left:120px;
  margin-top: 20px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
}

.flex1,.flex2 {
  display: flex;
  flex-direction: row;
  width:100%;
  height:300px;
}
.image-side,.Description-side{
  width:33.4%;
  height:100%;
  border: solid 1px white;
}
.image-side img {
  width: 100%;
  height: 100%;
 
}
.Description-side h3 {
  text-align: center;
  font-weight: bolder;
}
.Descrition-side,p {
  width:300px;
  text-align: center;
  padding-left: 30px;
}
span {
  text-align: center;

}
h3 {
  padding-bottom: 15px;
}
.Descrition-side {
  display: flex;
  flex-direction: column;
}
.Description-side .img {
  width:100%;
  height: 100px;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.img img {
  border-radius: 50%;
}











footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  
}
footer span {
  font-size: 18px;
  font-weight: 550;
}